body {
  background-color: #c1d5e6;
}

header {
  width: 100%;
  height: 15vmin;
  background: #102d44;
  align-items: center;
  justify-content: left;
  display: flex;
}

header img {
  width: 35vmin;
  margin-left: 2.5vmin;
}

h1 {
  font-size: calc(2rem + 1vw);
  font-weight: 700;
  text-align: center;
  color: #102d44;
}

.hero-container {
  position: relative;
  min-height: 90vh;
  background-image: url('./IMG/animeflix-hero-section.jpg');
  background-size: cover;
  background-position: center;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.6); /* Opacidad ajustable (0 a 1) */
}

.hero-content {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  text-wrap: balance;
}

.hero-content a {
  padding: 10px 20px;
  font-family: inherit;
  font-size: 1.2rem;
  background-color: #ff8000;
  color: #181818;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.cards-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 60px 0 60px 0;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2rem;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
  margin-bottom: 25px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s ease-in-out;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-bottom: 50px;
  border: solid 2px black;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 6px 12px rgba(0, 0, 0, 0.5);
}

.flip-card-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #102d44;
  color: #f4f4f4;
}

.flip-card-front img {
  max-width: 100%;
  border-radius: 20px;
}

.flip-card-back {
  text-align: left;
  padding: 2rem;
  border-radius: 10px;
  transform: rotateY(180deg);
  border: solid 2px black;
}

.flip-card-back h2 {
  font-weight: 600;
  margin-top: 25px;
}

.flip-card-back a {
  margin: 0.5rem 0 0.5rem 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-family: inherit;
  background-color: #ff8000;
  color: #181818;
  border-radius: 20px;
  border: 1px solid #102d44;

  cursor: pointer;
}

.flip-card-back h4 {
  font-size: 1.5rem;
}

.flip-card-back-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: left;
  gap: 0.2rem;
  padding: 0.3rem;
}

.round-image {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #181818;
}

footer {
  background-color: #181818;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
}

footer span {
  display: flex;
  justify-content: center;
}

footer div a {
  position: relative;
  margin-left: 10px;
}
